body{
    margin: 0;
    display: grid;
    grid-template-rows: 25vh 50vh 25vh;
    color: black;
    font-size: 20px;
}

.header{
    background-color: #C6D9F1;
    display: flex;
}

.one{
    width:50%;
    display: flex;
    justify-content: flex-end;
	align-items: center;
}

.one p{
    margin-right: 20px;
}

.x{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.x p{
	text-align: center;
    margin-left: 20px;
    background-color: white;
    width: 150px;
}

.main-container{
    display: grid;
    grid-template-columns: 25% 75%;
}

.two{
    background-color: #FDDBAF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-wrapper{
    display: grid;
    grid-template-rows: 17% 83%;
}

.three{
    background-color: #C4F18E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-wrapper{
    display: grid;
    grid-template-columns: 66% 34%;
}

.left-wrapper{
	display: grid;
    grid-template-rows: 80% 20%;
}

.four{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.six{
    background-color: #C4F18E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five{
    background-color: #FDDBAF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    background-color: #C6D9F1;
    display: flex;
}

.seven{
    width:50%;
    display: flex;
    align-items: center;
}

.seven p{
    margin-left: 20px;
}

.y{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.y p{
    margin-right: 20px;
    background-color: white;
    width: 200px;
}







